<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
</head>
<body>
    <h3>This is the payment page</h3>
    <form action="payment" method="post">
        {% csrf_token %}
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" id="phone" placeholder="Enter Phone Number">

        <label for="amount"> Amount </label>
        <input type="number" name="amount" id="amount" placeholder="Enter Amount">

    </form>
</body>
</html>